{% extends "base.html" %}
{% block title %}About Me{% endblock %}

{% block content %}
<section class="about-hero">
  <div class="about-container">
    <div class="about-img">
      <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Your Photo">
    </div>
    <div class="about-text">
      <h1><span>Naga Pranathi Majji</span></h1>
      <h3>About Me</h3>
      <p>
        I am a B.Tech Computer Science student passionate about Generative AI and Web Development. I love building creative solutions using LLMs, RAG, and Python, and I’ve worked on projects involving AI-powered word games, intelligent code assistants, and interactive web apps.
      </p>
    </div>
  </div>
</section>
{% endblock %}
